venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sql
*.log
.env
docker/*.dockerfile
docker/*.log
docker/*.pid
docker/*.sock
docker/volumes/
docker-compose.override.yml
docker-compose.prod.yml
docker-compose.dev.yml
.vscode/
.idea/
*.swp
*~
